/*Navbar settings*/
.navbar{
  background-color: lightskyblue;  
}
.navbar .container-fluid .navbar-brand{
    font-size: 30px;
}
.navbar-collapse{
    font-size: 20px;
}
.nav-item::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/* FORM */
.container-form{
    width:400px;
}