<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Arts.com</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{static/style.css}">
</head>
<body>
<!-- Header template -->
<header th:insert="~{blocks/header :: header}" data-bs-theme="dark"></header>

<!-- Info of post -->
<div th:object="${post}" class="container mt-5">
  <h1 th:text="${post.title}"/>
  <p th:text="${post.descr}"/>
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" style="height: 500px;">
    <div th:each="image : ${images}"  class="carousel-inner">
      <div th:if="${image.isPreview}" class="carousel-item active">
        <img th:src=" '/image/' + ${image.id}" class="d-block w-100 img-thumbnail" alt="..." style="height: 100%;">
      </div>
      <div class="carousel-item">
        <img th:src=" '/image/' + ${image.id}" class="d-block w-100 img-thumbnail" alt="..." style="height: 100%;">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
</body>
</html>